<h1 class="text-center"><strong>About the Project<strong></h1>

<div class="col-md-4 about-project">
  <%= image_tag "i_need_more_coffee.png", width: "75%" %>
</div>

<div class="col-md-4 about-project">
  <h2>Technologies</h2>
  <ul>
    <li>Ruby on Rails</li>
    <li>PostgreSQL Database</li>
    <li>Bootstrap - Responsive Grid Layout</li>
    <li>Google Places API - Map nearby coffee shops</li>
    <li>Geocoder - Map coordidates</li>
    <li>Git - Version Control</li>
    <li>Github: <a href="http://github.com/jpoeng/cuppacoffee">Code Source Repo</a></li>
  </ul>
</div>

<div class="col-md-4 about-project">
  <h2>Stretch Goals</h2>
  <ul>
    <li>Graph drink count data</li>
    <li>Auto-complete drinks form</li>
    <li>Auto-complete brands form</li>
    <li>Optimizing speed</li>
  </ul>
</div>


