/* Globals */
* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

html, body {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

/* Bootstrap Overrides: See http://stackoverflow.com/questions/19773712/google-maps-doesnt-show-until-i-refresh */
#bootstrap-overrides {
  font-family: 'Quicksand', sans-serif;

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-nav > li > a {
    /*font-weight: bold;*/
    font-size: 18px;
  }

  .jumbotron {
    background-color: #75ebdb;
    color: #ffffff;
    margin-bottom: 0px;
    padding: 30px;

    h1 {
      font-family: 'Indie Flower', cursive;
      font-size: 2.75em;
    }
  }

  .row {
    padding: 30px;
  }
}

/* Jumbotron */
.jumbotron {
  h1 {
    font-weight: bolder;
  }

  h3 {
    color: yellow;
  }

  .pink {
    color: #fbc1d1;
    font-size: 1.5em;
  }
}

/* Table */
table {
  thead {
    font-size: 16px;
  }
}

/* Tabs between Home, Add New Drink, and User Profile */
.tab-content {
  margin-top: 15px;
}

/* About Project */
.about-project {
  ul {
    font-size: 20px;
    line-height: 40px;
  }
}

/* Home page */
.info {
  p {
    font-size: 20px;
    text-align: justify;
    line-height: 30px;
  }
}

/* Maps */
#map_canvas, #map {
  border: 2px solid #ffffff;
  border-radius: 16px 16px;
  box-shadow: 2px 2px 10px #B1B1B1;
  border-width: 7px;
  background-color: #fff;
}

/* Signup & Login */
#signup-login-form {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 30px;
}

/* Buttons & Glyphicons */

.glyphicon {
  color: pink;
  font-weight: bold;
}

.btn-white-text {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar {
  .container div { display: inline-block }

  .navbar-links {
    float: right;
    ul.nav.navbar-nav {
      li {
        display: inline-block;
      }
    }
  }
}

/* Footer */
.wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -30px;
}
.wrapper:after {
  content: "";
  display: block;
}
.footer, .wrapper:after {
  height: 30px;
}
.footer {
  padding-top: 15px;
  height: 45px;
  text-align: center;
  background-color: #ddd;
}

/* Media Queries */
@media screen and (min-width: 480px) {
  .fb-like {
    word-break: break-all;
  }
}